{% extends 'base.html.twig' %}

{% block body %}
<form method="POST">
    <table border="1" cellspacing="0" cellpadding="10">
        <thead>
        <tr>
            <th>Paslaugos pavadinimas</th>
            <th>Kaina (100 = 1€)</th>
            <th>Matas</th>
        </tr>
        </thead>
        <tbody>
        {% for paslauga in paslaugos %}
            {% set pazymeta = paslauga.id in pazymetosPaslaugos %}
                <tr>
                    <td>{{ paslauga.vardas }}</td>

                    <td>
                        <input type="number"
                        name="kaina_{{ paslauga.id }}"
                        value="{{ (kainos[paslauga.id]|default(0) / 100) }}"
                        step="1"
                        {% if not pazymeta %}disabled{% endif %}>
                    </td>
                    <td>{{ paslauga.matas }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit">Išsaugoti kainas</button>
    <a  class="button-link" href="{{ path('app_vadybininkas_index') }}">Grįžti į bendrijų sąrašą</a>
</form>
{% endblock %}