{% extends 'base.html.twig' %}

{% block title %}Vadybininko bendrijos{% endblock %}

{% block body %}
    <h1>Jūsų priskirtos bendrijos:</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <table border="1" cellspacing="0" cellpadding="10">
        <thead>
        <tr>
            <th>Bendrijos pavadinimas</th>
            <th>Redaguoti kainas</th>
            <th>Peržiūrėti kainas</th>
            <th>Priskirti gyventojus</th>
            <th>Priskirti paslaugas</th>
        </tr>
        </thead>
        <tbody>
        {% for bendrija in bendrijos %}
            <tr>
                <td><strong>{{ bendrija.pavadinimas }}</strong></td>
                <td><a href="{{ path('app_vadybininkas_edit_kaina', { bendrijaId: bendrija.id }) }}">Redaguoti kainas</a></td>
                <td><a href="{{ path('app_vadybininkas_show_kaina', { bendrijaId: bendrija.id }) }}">Peržiūrėti kainas</a></td>
                <td><a href="{{ path('app_vadybininkas_priskirti_gyventojus', { bendrijaId: bendrija.id }) }}">Priskirti gyventojus</a></td>
                <td><a href="{{ path('app_vadybininkas_priskirti_paslaugas', { bendrijaId: bendrija.id }) }}">Priskirti paslaugas</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if bendrijos|length == 0 %}
        <p>Jums nepriskirta jokia bendrija.</p>
    {% endif %}
{% endblock %}
