{% extends 'base.html.twig' %}

{% block title %}Vadybininko bendrijos{% endblock %}

{% block body %}
    <h1>Jūsų priskirtos bendrijos:</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <ul>
        {% for bendrija in bendrijos %}
            <li>
                <strong>{{ bendrija.pavadinimas }}</strong>
                <a href="{{ path('app_vadybininkas_edit_kaina', { bendrijaId: bendrija.id }) }}">Redaguoti kainas</a>
                <a href="{{ path('app_vadybininkas_show_kaina', { bendrijaId: bendrija.id }) }}">Peržiūrėti kainas</a>
            </li>
        {% endfor %}
    </ul>

    {% if bendrijos|length == 0 %}
        <p>Jums nepriskirta jokia bendrija.</p>
    {% endif %}
{% endblock %}
