{% extends 'base.html.twig' %}

{% block title %}Priskirti paslaugas{% endblock %}

{% block body %}

<h1>Priskirti paslaugas bendrijai: <strong>{{ bendrija.pavadinimas }}</strong></h1>

<form method="POST">
    <div class="priskyrimo-list">
        {% for paslauga in paslaugos %}
            <label class="priskyrimo-item gyventojas">
                <input type="checkbox" name="paslaugos[]" value="{{ paslauga.id }}"
                       {% if paslauga.id in pazymetosPaslaugos %}checked{% endif %}>
                <span>{{ paslauga.vardas }} ({{ paslauga.matas }})</span>
            </label>
        {% endfor %}
    </div>

    <button type="submit">Priskirti paslaugas</button>
</form>

    <a  class="button-link" href="{{ path('app_vadybininkas_index') }}">Grįžti į bendrijų sąrašą</a>
{% endblock%}
