{% extends 'base.html.twig' %}

{% block title %}Paslaugų kainų peržiūra{% endblock %}

{% block body %}
    <h1>Bendrija: {{ bendrija.pavadinimas }} – paslaugų kainos</h1>

    <table border="1" cellspacing="0" cellpadding="10">
        <thead>
        <tr>
            <th>Paslaugos pavadinimas</th>
            <th>Kaina (€)</th>
            <th>Matas</th>
        </tr>
        </thead>
        <tbody>
        {% for paslauga in paslaugos %}
            {% set kaina = kainos[paslauga.id] | default(0) / 100 %}
            {% if kaina > 0 %}
                <tr>
                    <td>{{ paslauga.vardas }}</td>
                    <td>{{ kaina }} €</td>
                    <td>{{ paslauga.matas }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{#    <button type="submit">Išsaugoti gyventojus</button>#}
    <a class="button-link" href="{{ path('app_vadybininkas_index') }}">Grįžti į bendrijų sąrašą</a>
{% endblock %}
