{% extends 'base.html.twig' %}

{% block title %}Namai!{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <h1>Paslaugos</h1>
        <p>Žemiau pateiktas paslaugų sąrašas:</p>
        <table border="1" cellspacing="0" cellpadding="10">
            <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Kaina (€)</th>
                <th>Matas</th>

            </tr>
            </thead>
            <tbody>
            {% for paslauga in paslaugos %}
                <tr>
                    <td>{{ paslauga.paslauga }}</td>

                    <td>{{ paslauga.kaina / 100 }} </td>
                    <td>{{ paslauga.matas }} </td>

                </tr>
            {% endfor %}
{#            {% for paslauga in paslaugos %}#}
{#                <tr>#}
{#                    <td>{{ paslauga.vardas }}</td>#}

{#                    <td>{{ kaina.kaina / 100 }} </td>#}
{#                    <td>{{ paslauga.matas }} </td>#}

{#                </tr>#}
{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="2">Paslaugų nerasta.</td>#}
{#                </tr>#}
{#            {% endfor %}#}
            </tbody>
        </table>
    </div>
{% endblock %}